﻿@model WebApplication6.User

@{
    /**/

    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>
</div>

<table>
    <tr>
        <td>
            <h3>Kasutaja rollid:</h3>
            @foreach (var r in Model.UserInRoles.Select(x => x.Role))
            {
                if (ViewBag.CurrentUser.IsInRole("Admin") || ViewBag.CurrentUser.Email == Model.Email)
                {
                    <p>@Html.ActionLink($"- {r.RoleName}", "RemoveRole", new { id = Model.UserID * 1000 + r.RoleID })</p>
                }
                else
                {
                    <p>@r.RoleName</p>
                }
            }

        </td>
        <td width="80"></td>
        @if (ViewBag.CurrentUser.IsInRole("Admin"))
        {
            <td>
                <h3>Muud rollid:</h3>
                @foreach (var r in ViewBag.Roles)
                {
                    <p>@Html.ActionLink($"+ {r.RoleName}", "AddRole", new { id = Model.UserID * 1000 + r.RoleID })</p>
                }
            </td>
        }
    </tr>
</table>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
