﻿@model IEnumerable<WebApplication6.User>

@{
    ViewBag.Title = "Index";
}

<style>
    img {
        height: 80px;
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
    }

        img:hover {
            /*height: 160px;*/
            border: 1px solid;
            padding: 10px;
            /*box-shadow: -5px -10px;*/
            animation-name: example;
            animation-duration: 4s;
        }

 @@-webkit-keyframes example {
    from {        box-shadow: 5px 10px;
}
    to {        box-shadow: -5px -10px;
}
}

/* Standard syntax */
@@keyframes example {
    from {        box-shadow: 5px 10px;
}
    to {        box-shadow: -5px -10px;
}
}
</style>

<h2>Index</h2>
<img src="~/Pictures/640px-Scarabaeus_sacer.jpg" />
<p>
    @Html.ActionLink("Create New", "Create")
    <img src="~/Pictures/HerodtheGreat2.jpg" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.UserID }) |

                @if (ViewBag.CurrentUser.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
                    <b> |</b>
                }

                @if (ViewBag.CurrentUser.IsInRole("Admin") || ViewBag.CurrentUser.UserID == item.UserID)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserID })
                }

            </td>
        </tr>
    }

</table>
