﻿@model IEnumerable<WebApplication6.File>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Filename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Filetype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contenttype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Filename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Filetype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contenttype)
        </td>
        <td><a href='@Url.Action("Content", new { id = item.FileID })'>
            <img src='@Url.Action("Content", new { id = item.FileID })' height="200" />
            </a>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.FileID }) |
            @Html.ActionLink("Details", "Details", new { id = item.FileID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.FileID })
        </td>
    </tr>
}

</table>
