﻿@using Microsoft.AspNet.Identity
@using W = WebApplication6;
@if (Request.IsAuthenticated)
{
    //HennuDemoEntities db = new HennuDemoEntities();
    //string kes = User.Identity.GetUserName();
    //var u = db.Users.Where(x => x.Email == kes).SingleOrDefault();

    var u = W.User.GetByEmail(User.Identity.GetUserName());

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @if (u == null)
            //Siin kontrollime, kas kasutaja on meie oma
            {
                <li>
                    @*kasutaja ei ole meie oma*@
                    @Html.ActionLink("Tere " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
            }
            else
            {
                <li>
                    @{
                        Session["User"] = u;
                    }
                    @Html.ActionLink("Tere " + u.FullName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>

            }
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
    @* Siin lõpeb logoffi vorm (see, mis tema tegi) - siia paneks regimisvormi*@
    if (u == null)
    {
        using (Html.BeginForm("Create", "Users", FormMethod.Post))
        {

            <div class="form-horizontal">
                <div class="form-group">
                    <input type="text" name="FirstName" />
                    <input type="text" name="LastName" />
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

        }

    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
}
